{{define "main_header"}}X-Net Accounts{{end}}
{{define "sub_header"}}Login{{end}}

{{define "content"}}
<form method="post" action="{{.BasePath}}/preflight" id="login-form" novalidate>
  <input type="hidden" name="login-challenge" value="{{.Controller.Challenge}}">
  {{.Controller.CSRFField}}

  <div class="row sm-gutters">
    <div class="col-12">
      <div class="form-group">
        <label class="label" for="email">
          Identifier
          <abbr class="text-danger" data-toggle="tooltip" data-placement="top" title="Required field">*</abbr>
        </label>
        <input class="form-control" id="email" type="text" name="email" autofocus autocomplete="username">
        {{if .Controller.Error}}
          <small class="invalid-feedback"></small>
        {{end}}
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label class="label" for="password">
          Password
          <abbr class="text-danger" data-toggle="tooltip" data-placement="top" title="Required field">*</abbr>
        </label>
        <input class="form-control" id="password" type="password" name="password" autofocus autocomplete="username">
        {{if .Controller.Error}}
        <small class="invalid-feedback"></small>
        {{end}}
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <input class="form-check-input" type="checkbox" id="remember" name="remember">
        <label class="form-check-label" for="remember">remember me</label>
      </div>
    </div>
    <div class="align-items-center flex-row-reverse row mt-1 sm-gutters">
      <div class="col-auto ml-auto">
        <button class="btn btn-tertiary" type="submit">Login</button>
      </div>
    </div>
  </div>
</form>
{{end}}