[Unit]
Description=X-Identity-Provider
After=network-online.target
Wants=network-online.target
Before=hydra.service
PartOf=x-idp.target

[Service]
Type=simple
ExecStart=/opt/x-idp/idp
WorkingDirectory=/opt/x-idp
User=x-idp
Group=x-idp

[Install]
WantedBy=x-idp.target